extends base
block title
	post.title


block content
	.post.detail-post
		h2.title= post.title
		.info
			i.fa.fa-calendar &nbsp;
			time.date= post.date.format('%Y.%m.%d')+' '
			|
			span.visitors
				i.fa.fa-book &nbsp;
				|{{post.visits}}&nbsp;|

			if post.category.parents
				category_path = post.category.parents[-1].title
			else
				category_path = post.category.title
			span.category
				i.fa.fa-list &nbsp;
				a(href="/category/{{category_path}}")= category_path
				|
			span.tags-source
				if post.tags
					span.tags
						i.fa.fa-tags &nbsp;
						for tag in post.tags
							a(href="/tag/{{tag}}")= tag
						&nbsp;|
				a(class="source",target="_blank",style="cursor:pointer;",onmouseover="javascript:this.href=window.location.href.split('#')[0]+'?action=show_raw'")= '源码' if lang=='zh_cn' else 'Source'
				if request.is_admin == 1
					a(class="edit",href="?action=edit",target="_blank")= '编辑' if lang=='zh_cn' else 'Edit'
		.post_body= post.content

		.other_posts.pager
			+h.i18n('Newer', '前一篇', 'zh_cn')
			+h.i18n('Older', '后一篇', 'zh_cn')
			+h.i18n('Already First', '已是第一篇', 'zh_cn')
			+h.i18n('No More', '已是最后一篇', 'zh_cn')
			if posts.previous_one
				a(href=posts.previous_one.url, title=posts.previous_one.title, class='pre')=_('Newer')
			else
				span.pre.unavailable= 'Already First'
			if posts.next_one
				a(href=posts.next_one.url, title=nposts.next_one.title, class='next')=_('Older')
			elif pre_one
				span.next.unavailable=_('No More')

		include include.comments